/* Base styles */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}
.main-page {
  max-width: 1200px;
}

/* Resume section styles */
.equal-height-row {
  display: flex;
  align-items: stretch;
}
.w3-third,
.w3-twothird {
  display: flex;
  flex-direction: column;
}
.w3-third > .w3-card-4 {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-bottom: 0;
}
.profile-image {
  width: 100%;
  height: 300px;
}

/* Other section styles */
.section-width {
  max-width: 1165px;
}
.profile-image-tall {
  display: block;
  margin: auto;
  width: 200px;
  height: auto;
}

/* Card styles */
.project-card {
  height: 150px;
  width: 260px;
}
.link {
  color: blue;
}
