<div class="project-row">
  <div class="w3-quarter">
    <img src="images/clueless.png" alt="Clueless" class="project-mini-card" />
    <h5>Clueless</h5>
    <h6>
      A dress-up app. Work in progress!<br />
      <a href="https://github.com/jaimewongly/clueless" class="link">GitHub</a>
    </h6>
  </div>
  <div class="w3-quarter">
    <img src="images/elmo.jpg" alt="Elmo" class="project-mini-card" />
    <h5>Portfolio</h5>
    <h6 class="growing-text">
      A very nice portfolio.<br />
      <a href="https://jaimewongly.github.io/portfolio/" class="link"
        >Check it out!</a
      >
      |
      <a
        href="https://github.com/jaimewongly/portfolio?tab=readme-ov-file#portfolio"
        class="link"
        >GitHub</a
      >
    </h6>
  </div>
  <div class="w3-quarter">
    <img
      src="images/snakegame.png"
      alt="Snake Game"
      class="project-mini-card"
    />
    <h5>Snake Game</h5>
    <h6>
      A browser version of the classic game.<br />
      <a href="https://jaimewongly.github.io/snake-game/" class="link"
        >Play it here! </a
      >|
      <a href="https://github.com/jaimewongly/snake-game" class="link"
        >GitHub</a
      >
    </h6>
  </div>
  <div class="w3-quarter">
    <img
      src="images/musicshrine.png"
      alt="Music Shrine"
      class="project-mini-card"
    />
    <h5>Music Shrine</h5>
    <h6>
      A cozy site dedicated to your favourite artist!<br />
      <a href="https://music-shrine.vercel.app/" class="link">Try it here! </a>|
      <a href="https://github.com/jaimewongly/music-shrine" class="link"
        >GitHub</a
      >
    </h6>
  </div>
</div>
