<section class="w3-row">
  <div class="w3-col w3-full project-box">
    <div class="w3-center w3-card-4 w3-margin-top w3-margin-bottom w3-white">
      <h2 class="w3-text-grey w3-padding-16 w3-center w3-white">Projects</h2>
      <!-- prettier-ignore -->
      {% include projects/first-photo-grid.html %}
      <!-- prettier-ignore -->
      {% include projects/second-photo-grid.html %}
      <!-- prettier-ignore -->
      {% include projects/third-photo-grid.html %}
    </div>
  </div>
</section>
