<div class="project-row">
  <div class="w3-quarter">
    <img
      src="images/musicshrine.png"
      alt="Music Shrine"
      class="project-mini-card"
    />
    <h5>Music Shrine</h5>
    <h6>
      A cozy site dedicated to your favourite artist!<br />
      <a href="https://music-shrine.vercel.app/" class="link">Try it here! </a>|
      <a href="https://github.com/jaimewongly/music-shrine" class="link"
        >GitHub</a
      >
    </h6>
  </div>
  <div class="w3-quarter">
    <img
      src="images/flyingpigracers.png"
      alt="Flying Pig Racers"
      class="project-mini-card"
    />
    <h5>Flying Pig Racers</h5>
    <h6>
      Inspired by Faerie Cloud Racers from Neopets.<br />
      <a href="https://farmer-jaim.itch.io/flying-pig-racers" class="link"
        >Play it here! </a
      >|
      <a href="https://github.com/jaimewongly/flying-pig-racers" class="link"
        >GitHub</a
      >
    </h6>
  </div>
  <div class="w3-quarter">
    <img src="images/bearvania.png" alt="Bearvania" class="project-mini-card" />
    <h5>Bearvania</h5>
    <h6>
      A short platformer.<br />
      <a href="https://farmer-jaim.itch.io/bearvania" class="link"
        >Play it here! </a
      >|
      <a href="https://github.com/jaimewongly/bearvania" class="link">GitHub</a>
    </h6>
  </div>
  <div class="w3-quarter">
    <img
      src="images/inlovewithaghost.png"
      alt="In Love With a Ghost"
      class="project-mini-card"
    />
    <h5>In Love With a Ghost</h5>
    <h6>
      A point and click game for the $104 Adventure Game Challenge.<br />
      <a href="https://farmer-jaim.itch.io/in-love-with-a-ghost" class="link"
        >Play it here! </a
      >|
      <a href="https://github.com/jaimewongly/in-love-with-a-ghost" class="link"
        >GitHub</a
      >
    </h6>
  </div>
</div>
