<div class="project-row">
  <div class="w3-quarter">
    <img src="images/bearvania.png" alt="Bearvania" class="project-mini-card" />
    <h5>Bearvania</h5>
    <h6>
      A short platformer.<br />
      <a href="https://farmer-jaim.itch.io/bearvania" class="link"
        >Play it here!</a
      >
    </h6>
  </div>
  <div class="w3-quarter">
    <img
      src="images/inlovewithaghost.png"
      alt="In Love With a Ghost"
      class="project-mini-card"
    />
    <h5>In Love With a Ghost</h5>
    <h6>
      A point and click game for the $104 Adventure Game Challenge.<br />
      <a href="https://farmer-jaim.itch.io/in-love-with-a-ghost" class="link"
        >Play it here!</a
      >
    </h6>
  </div>
  <div class="w3-quarter">
    <img
      src="images/rocketpilot.png"
      alt="Rocket Pilot"
      class="project-mini-card"
    />
    <h5>Rocket Pilot</h5>
    <h6>
      A rocket flying adventure. Boost your rocket to victory!<br />
      <a href="https://farmer-jaim.itch.io/rocket-pilot" class="link"
        >Play it here!</a
      >
    </h6>
  </div>
  <div class="w3-quarter">
    <img
      src="images/letsgofishing.jpg"
      alt="Let's Go Fishing"
      class="project-mini-card"
    />
    <h5>Let's Go Fishing!</h5>
    <h6>
      A cozy fishing game.<br />
      <a href="https://farmer-jaim.itch.io/lets-go-fishing" class="link"
        >Play it here!</a
      >
    </h6>
  </div>
</div>
