<div class="project-row">
  <div class="w3-quarter">
    <img
      src="images/laserdefender.png"
      alt="Laser Defender"
      class="project-mini-card"
    />
    <h5>Laser Defender</h5>
    <h6>
      An arcade style space shooter.<br />
      <a href="https://farmer-jaim.itch.io/laser-defender" class="link"
        >Play it here! </a
      >|
      <a href="https://github.com/jaimewongly/laser-defender" class="link"
        >GitHub</a
      >
    </h6>
  </div>
  <div class="w3-quarter">
    <img src="images/elmo2.jpg" alt="Elmo" class="project-mini-card" />
    <h5>Future Stuff</h5>
    <h6>
      More projects coming
      <a
        href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley"
        class="link"
        >soon!</a
      >
    </h6>
  </div>
</div>
