<div
  class="w3-content w3-center w3-card-4 w3-margin-top w3-margin-bottom section-width"
>
  <div
    class="w3-row-padding w3-padding-16 w3-center w3-white w3-text-grey"
    id="food"
  >
    <h2 class="w3-text-grey w3-padding-16 w3-center w3-white">Projects</h2>

    <div class="w3-quarter">
      <img src="images/clueless.png" alt="Sandwich" class="project-card" />
      <h3>Clueless</h3>
      <p>
        A dress-up app. Work in progress!<br />
        <a href="https://github.com/jaimewongly/clueless" class="link"
          >Check it out!</a
        >
      </p>
    </div>
    <div class="w3-quarter">
      <img src="images/flyingpigracers.png" alt="Steak" class="project-card" />
      <h3>Flying Pig Racers</h3>
      <p>
        A racing game inspired by the beloved Faerie Cloud Racers from
        Neopets.<br />
        <a href="https://farmer-jaim.itch.io/flying-pig-racers" class="link"
          >Play it here!</a
        >
      </p>
    </div>
    <div class="w3-quarter">
      <img src="images/bearvania.png" alt="Cherries" class="project-card" />
      <h3>Bearvania</h3>
      <p>
        A short platformer.<br />
        <a href="https://farmer-jaim.itch.io/bearvania" class="link"
          >Play it here!</a
        >
      </p>
    </div>
    <div class="w3-quarter">
      <img
        src="images/laserdefender.png"
        alt="Pasta and Wine"
        class="project-card"
      />
      <h3>Laser Defender</h3>
      <p>
        An arcade style space shooter.<br />
        <a href="https://farmer-jaim.itch.io/laser-defender" class="link"
          >Play it here!</a
        >
      </p>
    </div>
  </div>

  <!-- Second Photo Grid-->
  <div class="w3-row-padding w3-padding-16 w3-center w3-white w3-text-grey">
    <div class="w3-quarter">
      <img
        src="images/inlovewithaghost.png"
        alt="Popsicle"
        class="project-card"
      />
      <h3>In Love With a Ghost</h3>
      <p>
        A point and click adventure made for the $104 Adventure Game
        Challenge.<br />
        <a href="https://farmer-jaim.itch.io/in-love-with-a-ghost" class="link"
          >Play it here!</a
        >
      </p>
    </div>
    <div class="w3-quarter">
      <img src="images/rocketpilot.png" alt="Salmon" class="project-card" />
      <h3>Rocket Pilot</h3>
      <p>
        A rocket flying adventure.<br />
        <a href="https://farmer-jaim.itch.io/rocket-pilot" class="link"
          >Play it here!</a
        >
      </p>
    </div>
    <div class="w3-quarter">
      <img src="images/letsgofishing.jpg" alt="Sandwich" class="project-card" />
      <h3>Let's Go Fishing!</h3>
      <p>
        A fishing game.<br />
        <a href="https://farmer-jaim.itch.io/lets-go-fishing" class="link"
          >Play it here!</a
        >
      </p>
    </div>
    <div class="w3-quarter">
      <img src="images/elmo2.jpg" alt="Croissant" class="project-card" />
      <h3>Future Stuff</h3>
      <p>
        More projects coming
        <a
          href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley"
          class="link"
          >soon!</a
        >
      </p>
    </div>
  </div>
</div>
