<div class="card w3-white w3-text-grey w3-card-4">
  <div class="w3-display-container">
    <img
      id="profile-pic"
      src="images/meandlulu.jpg"
      class="profile-image"
      alt="Jaime"
    />
  </div>
  <div class="w3-container">
    <p>
      <i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i
      >Code Gardener
    </p>
    <p>
      <i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i
      >Calgary, AB, Canada
    </p>
    <p>
      <i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i
      >wongjaimelynn@gmail.com
    </p>
    <p>
      <i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i
      >403-464-1160
    </p>
    <hr />

    <p class="w3-large">
      <b
        ><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i
        >Skills</b
      >
    </p>
    <br />
  </div>
</div>
