<div
  id="card4"
  class="card info-card w3-white w3-container w3-card w3-margin-bottom"
>
  <div class="inner-frame uniform-padding">
    <h6>
      <i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i
      >Code Gardener
    </h6>
    <h6>
      <i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i
      >Calgary, AB, Canada
    </h6>
    <h6>
      <i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i
      >wongjaimelynn@gmail.com
    </h6>
    <h6>
      <i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i
      >403-464-1160
    </h6>
  </div>
</div>
