<div id="card5" class="w3-card work-card w3-container w3-white w3-margin-bottom">
  <div class="inner-frame">
    <h2 class="work w3-padding-16">
      Experience
    </h2>
    <article class="w3-container">
      <h5  >
        <b>Junior Software Developer / Calian, Advanced Technologies | May 2024 - Current</b>
      </h5>
      <p class="tech-stack">
        Tech Stack: Kotlin, Python, Typescript, React, RESTful APIs (HTTP,
        Json).<br />
      </h6>
      <h6>
        Initiated and launched a company-wide mentorship program. Led an
        internal training initiative. Created and maintained a Slackbot to
        automate workflows and improve team efficiency.
      </h6>
    </article>
    <article class="w3-container">
      <h5  >
        <b>Software Developer / Clueless (Personal Project)
      </h5>
      <p class="tech-stack">
        Tech Stack: Python, PostgreSQL, Expo.<br />
      </h6>
      <h6>
        Full-stack development of an ML-powered dress-up app. Work in progress!
      </h6>
    </article>
      <hr />
    <article class="w3-container">
      <h5 class="old-job-text"><b>
        Junior Systems Designer / Calian, Advanced Technologies | Aug 2022 - Apr 2024 <br/><br/>
        Entry Level Systems Designer / Calian, Advanced Technologies | Jan 2022 - July 2022 <br/><br/>
        Junior Electronics Engineer / A4 Systems | Jul 2021 - Jan 2022 <br/><br/>
        Electrical Engineering Intern / Zephyr Sleep Technologies | May 2019 - Mar 2020 <br/><br/>
      </b></h5>
    </article>
  </div>
</div>
