<div id="card5" class="w3-card w3-container w3-white w3-margin-bottom">
  <div class="inner-frame">
    <h2 class="  w3-padding-16">
      <i
        class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"
      ></i
      >Work Experience
    </h2>
    <article class="w3-container">
      <h5  >
        <b>Junior Software Developer / Calian, Advanced Technologies</b>
      </h5>
      <h6 class="w3-text-teal">
        <i class="fa fa-calendar fa-fw w3-margin-right"></i>May 2024 -
        <span class="w3-tag w3-teal w3-round">Current</span>
      </h6>
      <p class="tech-stack">
        Tech Stack: Kotlin, Python, Typescript, React, RESTful APIs (HTTP,
        Json).<br />
      </h6>
      <h6>
        Initiated and launched a company-wide mentorship program. Led an
        internal training initiative. Created and maintained a Slackbot to
        automate workflows and improve team efficiency.
      </h6>
      <hr />
    </article>
    <article class="w3-container">
      <h5  >
        <b>Junior Systems Designer / Calian, Advanced Technologies</b>
      </h5>
      <h6 class="w3-text-teal">
        <i class="fa fa-calendar fa-fw w3-margin-right"></i>Aug 2022 -Apr 2024
      </h6>
    </article>
    <article class="w3-container">
      <h5  >
        <b>Entry Level Systems Designer / Calian, Advanced Technologies</b>
      </h5>
      <h6 class="w3-text-teal">
        <i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan 2022 - July 2022
      </h6>
    </article>
    <article class="w3-container">
      <h5  >
        <b>Junior Electronics Engineer / A4 Systems</b>
      </h5>
      <h6 class="w3-text-teal">
        <i class="fa fa-calendar fa-fw w3-margin-right"></i>Jul 2021 - Jan 2022
      </h6>
    </article>
    <article class="w3-container">
      <h5  >
        <b>Electrical Engineering Intern / Zephyr Sleep Technologies</b>
      </h5>
      <h6 class="w3-text-teal">
        <i class="fa fa-calendar fa-fw w3-margin-right"></i>May 2019 - Mar 2020
      </h6>
      <br />
    </article>
  </div>
</div>
