<div class="w3-third">
  <div
    id="card1"
    class="card about-card w3-content w3-center w3-card-4 w3-white w3-margin-top w3-margin-bottom"
  >
    <div class="inner-frame">
      <br />
      <section class="about-row">
        <div class="w3-third">
          <button class="big-button music" onclick="changeSong()"></button>
        </div>
        <div class="w3-third">
          <button class="big-button radio" onclick="toggleMusic()"></button>
        </div>
        <div class="w3-third">
          <button class="big-button magic" onclick="toggleTheme()"></button>
        </div>
      </section>
      <div class="w3-padding-16">
        <audio
          class="music-player"
          id="background-music"
          src="assets/track1.mp3"
          type="audio/mp3"
          controls
          loop
          autoplay
        ></audio>
      </div>
      <div class="w3-padding">
        <div id="terminal" class="terminal">
          <div id="output">Welcome to JaimeShell™. Type 'help' to begin.</div>
          <div>
            <span>$</span>
            <input id="command" type="text" autofocus />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
