<div class="control-card w3-third">
  <div
    id="card1"
    class="card w3-white w3-container w3-card w3-margin-top w3-margin-bottom w3-padding"
  >
    <div class="inner-frame" style="gap: 16px">
      <div class="w3-third">
        <button id="egg-button" class="big-button" onclick="toggleAnimal()">
          🥚 <br />Click Me!
        </button>
      </div>
      <div class="w3-third">
        <button class="big-button radio" onclick="changeSong()">
          <br />Change Song
        </button>
      </div>
      <div class="w3-third">
        <button class="big-button magic" onclick="toggleTheme()">
          <br />Switch Theme
        </button>
      </div>
      <audio
        class="music-player"
        id="background-music"
        src="assets/track1.mp3"
        type="audio/mp3"
        controls
        loop
        autoplay
      ></audio>
    </div>
  </div>
  <div
    id="card9"
    class="card terminal-card w3-white w3-container w3-card w3-margin-bottom"
  >
    <div class="inner-frame">
      <div id="jumpscare">
        <img src="images/scaryelmo.png" alt="Elmo Jumpscare" />
      </div>
      <audio id="scream" src="assets/elmo-laughing.mp3"></audio>
      <div id="terminal" class="terminal">
        <div id="output">Welcome to JaimeShell™. Type 'help' to begin.</div>
        <div>
          <span>$</span>
          <input id="command" type="text" autofocus />
        </div>
      </div>
    </div>
  </div>
</div>
