<div class="w3-third">
  <div
    id="card2"
    class="card about-card w3-content w3-center w3-card-4 w3-margin-top w3-margin-bottom w3-white"
  >
    <div class="inner-frame">
      <h2 class="section-title about my-name">About Me (Jaime!)</h2>
      <br />
      <section class="about-row">
        <div class="w3-third">
          <div
            class="flip-container about-mini-card"
            id="tile1"
            onclick="flipCard(this)"
          >
            <div class="flipper">
              <img
                class="front"
                src="images/elmoabout1.png"
                alt="Front of flip card"
              />
              <img
                class="back"
                src="images/jaime1.jpg"
                alt="Back of flip card"
              />
            </div>
          </div>
          <br />
        </div>
        <div class="w3-third">
          <div
            class="flip-container about-mini-card"
            id="tile2"
            onclick="flipCard(this)"
          >
            <div class="flipper">
              <img
                class="front"
                src="images/elmoabout2.png"
                alt="Front of flip card"
              />
              <img
                class="back"
                src="images/clover.jpg"
                alt="Back of flip card"
              />
            </div>
          </div>
          <br />
        </div>
        <div class="w3-third">
          <div
            class="flip-container about-mini-card"
            id="tile3"
            onclick="flipCard(this)"
          >
            <div class="flipper">
              <img
                class="front"
                src="images/elmo4.jpg"
                alt="Front of flip card"
              />
              <img
                class="back"
                src="images/jaime4.jpg"
                alt="Back of flip card"
              />
            </div>
          </div>
          <br />
        </div>
      </section>
      <section class="about-row">
        <div class="w3-third">
          <div
            class="flip-container about-mini-card"
            id="tile4"
            onclick="flipCard(this)"
          >
            <div class="flipper">
              <img
                class="front"
                src="images/elmoabout4.png"
                alt="Front of flip card"
              />
              <img class="back" src="images/cake.jpg" alt="Back of flip card" />
            </div>
          </div>
          <br />
        </div>
        <div class="w3-third">
          <div
            class="flip-container about-mini-card"
            id="tile5"
            onclick="flipCard(this)"
          >
            <div class="flipper">
              <img
                class="front"
                src="images/elmoabout8.png"
                alt="Front of flip card"
              />
              <img
                class="back"
                src="images/jaime2.jpg"
                alt="Back of flip card"
              />
            </div>
          </div>
          <br />
        </div>
        <div class="w3-third">
          <div
            class="flip-container about-mini-card"
            id="tile6"
            onclick="flipCard(this)"
          >
            <div class="flipper">
              <img
                class="front"
                src="images/elmoabout5.png"
                alt="Front of flip card"
              />
              <img
                class="back"
                src="images/elvis.jpg"
                alt="Back of flip card"
              />
            </div>
          </div>
          <br />
        </div>
      </section>
      <section class="about-row">
        <div class="w3-third">
          <div
            class="flip-container about-mini-card"
            id="tile7"
            onclick="flipCard(this)"
          >
            <div class="flipper">
              <img
                class="front"
                src="images/elmoabout6.png"
                alt="Front of flip card"
              />
              <img
                class="back"
                src="images/jaime3.jpg"
                alt="Back of flip card"
              />
            </div>
          </div>
          <br />
        </div>
        <div class="w3-third">
          <div
            class="flip-container about-mini-card"
            id="tile8"
            onclick="flipCard(this)"
          >
            <div class="flipper">
              <img
                class="front"
                src="images/elmoabout7.png"
                alt="Front of flip card"
              />
              <img class="back" src="images/lion.jpg" alt="Back of flip card" />
            </div>
          </div>
          <br />
        </div>
        <div class="w3-third">
          <div
            class="flip-container about-mini-card"
            id="tile9"
            onclick="flipCard(this)"
          >
            <div class="flipper">
              <img
                class="front"
                src="images/elmoabout9.png"
                alt="Front of flip card"
              />
              <img
                class="back"
                src="images/jaime5.jpg"
                alt="Back of flip card"
              />
            </div>
          </div>
          <br />
        </div>
      </section>
    </div>
  </div>
</div>
