<div class="w3-third">
  <div
    id="card2"
    class="card about-card w3-content w3-center w3-card-4 w3-margin-top w3-margin-bottom w3-white"
  >
    <div class="inner-frame">
      <h2 class="section-title about my-name">About Me (Jaime!)</h2>
      <br />
      <section class="about-row">
        <div class="w3-third">
          <img
            src="images/elmo4.jpg"
            alt="Elmo"
            class="about-mini-card"
          /><br />
        </div>
        <div class="w3-third">
          <img
            src="images/elmo4.jpg"
            alt="Elmo"
            class="about-mini-card"
          /><br />
        </div>
        <div class="w3-third">
          <img
            src="images/elmo4.jpg"
            alt="Elmo"
            class="about-mini-card"
          /><br />
        </div>
      </section>
      <section class="about-row">
        <div class="w3-third">
          <img
            src="images/elmo4.jpg"
            alt="Elmo"
            class="about-mini-card"
          /><br />
        </div>
        <div class="w3-third">
          <img
            src="images/elmo4.jpg"
            alt="Elmo"
            class="about-mini-card"
          /><br />
        </div>
        <div class="w3-third">
          <img
            src="images/elmo4.jpg"
            alt="Elmo"
            class="about-mini-card"
          /><br />
        </div>
      </section>
      <section class="about-row">
        <div class="w3-third">
          <img
            src="images/elmo4.jpg"
            alt="Elmo"
            class="about-mini-card"
          /><br />
        </div>
        <div class="w3-third">
          <img
            src="images/elmo4.jpg"
            alt="Elmo"
            class="about-mini-card"
          /><br />
        </div>
        <div class="w3-third">
          <img
            src="images/elmo4.jpg"
            alt="Elmo"
            class="about-mini-card"
          /><br />
        </div>
      </section>
    </div>
  </div>
</div>
