<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Jaime's Portfolio</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body class="w3-light-grey">
    <!-- TODO: 
  1. Can we embed a music player?
  2. DONT WANT INCLUDES ALL ON THE SAME LINE
-->

    <!-- prettier-ignore -->
    {% include resume-cards.html %}
    <!-- prettier-ignore -->
    {% include projects.html %}
    <!-- prettier-ignore -->
    {% include about-me.html %}

    <a href="index.html">CLICK ME</a>
    <!-- End page content -->
    <!--/div-->
  </body>
</html>
