<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" href="/portfolio/favicon.ico" type="image/x-icon" />
    <title>Jaime's Portfolio</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body class="w3-light-grey">
    <!-- TODO: 
  2. Fun cursor?
  3. Maybe add a background image?
  12. Coordinate colours
  18. Look for typos
  22. Work out text colours
  24. Clean up
  25. Maybe try another font?
-->
    <div class="w3-content main-page">
      <!-- prettier-ignore -->
      {% include about/about-me.html %}
      <!-- prettier-ignore -->
      {% include resume/resume.html %}
      <!-- prettier-ignore -->
      {% include projects/projects.html %}
    </div>
    <script src="script.js"></script>
  </body>
</html>
