<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Jaime's Portfolio</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body class="w3-light-grey">
    <!-- TODO: 
  1. Can we embed a music player?
  2. Fun cursor?
  3. Maybe add a background image?
  7. Other fun things to add?
  12. Coordinate colours
  13. Add emojis to replace old icons
  14. Add fun theme... link to page that's the same but spooky emojis etc
  15. Fill out fun theme
  18. Look for typos
  20. Figure out why scaling is weird
  21. Organize about me
-->
    <div class="w3-content main-page">
      <!-- prettier-ignore -->
      {% include about/about-me.html %}
      <!-- prettier-ignore -->
      {% include resume/resume.html %}
      <!-- prettier-ignore -->
      {% include projects/projects.html %}
    </div>
    <script src="script.js"></script>
  </body>
</html>
